In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import time
%matplotlib inline

---

In [38]:
#DBM data below

In [39]:
DBM = pd.DataFrame()
for file in glob.glob("DBM*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    DBM = DBM.append(df, ignore_index=True)

In [40]:
DBM = DBM.loc[:, ["Month", "Advertiser", "Public Inventory", "Impressions", 
                  "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency"]]

In [41]:
DBM.columns = ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency"]

In [42]:
DBM["DSP"] = "DBM"
DBM["Type"] = "General"

---

In [43]:
#YouTube/TrueView data below

In [44]:
YT = pd.DataFrame()
for file in glob.glob("YT*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    YT = YT.append(df, ignore_index=True)

In [45]:
YT["Public"] = "N/A"
YT["DSP"] = "DBM"
YT["Type"] = "TrueView"

In [46]:
YT = YT.loc[:, ["Month", "Advertiser", "Public","Impressions", 
                "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency", "DSP", "Type"]]

In [47]:
YT.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks',
       'Spend', 'Media', 'Currency', 'DSP', 'Type']

---

In [48]:
#Videology data below
#please note the data in the template the time frame please select the specific time rather than 'last month'

In [49]:
videology = pd.DataFrame()
for file in glob.glob("Videology*.csv"):
    df = pd.read_csv(file)
    df = df[df["Placement ID"].isnull() == False]
    videology = videology.append(df, ignore_index=True)

In [50]:
videology.columns = ["Advertiser", "Placement", "PlacementName", "Date", "Impressions", "Spend", "Clicks"]

In [51]:
list1=[]
for month in videology.Date:
    g = month[-4:] + "/" + "{0:0=2d}".format(time.strptime(month[:3], "%b").tm_mon)
    list1.append(g)

In [52]:
#repmoving the thousand separator 
videology.Impressions = videology.Impressions.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Clicks = videology.Clicks.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Spend = videology.Spend.apply(lambda x: float(x.split()[0].replace(',', '')))

In [53]:
videology["Currency"] = "GBP"
videology["DSP"] = "Videology"
videology["Type"] = "General"
videology.loc[(videology.PlacementName.str.contains("Channel 4")) | 
              (videology.PlacementName.str.contains("C4")), "Type"] = "Channel 4"
videology["Media"] = videology.Spend * 0.7
videology.loc[videology.Type == "Channel 4", "Media"] = videology.Spend * 0.8
videology["Public"] = "N/A"
videology["Month"] = list1

In [54]:
videology = videology.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend',
       'Media', 'Currency', 'DSP', 'Type']]

---

In [55]:
#TheTradeDesk data below

In [57]:
TTD = pd.DataFrame()
for file in glob.glob("TTTD*.csv"):
    df=pd.read_csv(file)
    TTD = TTD.append(df, ignore_index=True)

In [61]:
DBM.head()

,Month,Advertiser,Public,Impressions,Clicks,Spend,Media,Currency,DSP,Type
0,2016/07,BBC Store_UK_Zenith,No,43275.0,59.0,174.403276,122.083783,GBP,DBM,General
1,2016/03,Aviva_UK_Zenith (non-DCM),No,12806.0,438.0,219.431282,145.403610,GBP,DBM,General
2,2016/05,Qantas_UK_Zenith,No,35249.0,43.0,176.013562,120.409233,GBP,DBM,General
3,2016/10,Toyota_UK_Zenith,No,11489364.0,13085.0,130165.389485,91336.044259,GBP,DBM,General
4,2016/07,Hästens_UK_Zenith,No,40890.0,37.0,464.743776,325.324612,GBP,DBM,General

In [62]:
TTD.head()

,Date,Advertiser,Advertiser Currency Code,Inventory Contract,Impressions,Clicks,Advertiser Cost (Adv Currency),Media Cost (Adv Currency)
0,01/01/2016,Sanofi_UK_Zenith,GBP,NaN,2,0,"0,00470987228573","0,00330701846347"
1,02/01/2016,Sanofi_UK_Zenith,GBP,NaN,1,0,"0,000204947222042",0
2,30/01/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0
3,30/01/2016,Sanofi_UK_Zenith,GBP,NaN,0,1,0,0
4,01/02/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0

In [ ]:
TTD["Month"]

In [21]:
TTD["Month"] = TTD.Date.str.split("/").str[2] + "/" + TTD.Date.str.split("/").str[1]
TTD["Public"] = "Yes"
TTD.loc[TTD.PMP.str.contains("PMP"), "Public"] = "No"
TTD["DSP"] = "TTD"
TTD["Type"] = "General"

In [22]:
TTD = TTD.loc[:, ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency", "DSP", "Type"]]

In [23]:
TTD.Impressions = TTD.Impressions.astype("float64")
TTD.Clicks = TTD.Clicks.astype("float64")
TTD.Spend = TTD.Spend.astype("float64")
TTD.Media = TTD.Media.astype("float64")

In [24]:
#below is fixed for 2016 TTD data

In [25]:
TTD_old = pd.read_csv("TTD_0116_1216.csv")

In [26]:
TTD_old["Month"] = TTD_old.Date.str.split("/").str[2] + "/" + TTD_old.Date.str.split("/").str[1]
TTD_old["Public"] = "Yes"
TTD_old.loc[TTD_old["Inventory Contract"] == "PMP", "Public"] = "No"
TTD_old["DSP"] = "TTD"
TTD_old["Type"] = "General"

In [27]:
TTD_old = TTD_old.loc[:, ["Month", "Advertiser", "Public", "Impressions", 
                          "Clicks", "Advertiser Cost (Adv Currency)", "Media Cost (Adv Currency)", 
                          "Advertiser Currency Code", "DSP", "Type"]]

In [28]:
TTD_old.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks',
       'Spend', 'Media','Currency', 'DSP', 'Type']

In [29]:
TTD = TTD.append(TTD_old, ignore_index=True)

In [30]:
TTTD = pd.read_csv("TTTD.csv")

In [31]:
TTTD["Public"] = "Yes"
TTTD

,Date,Advertiser,Advertiser Currency Code,Inventory Contract,Impressions,Clicks,Advertiser Cost (Adv Currency),Media Cost (Adv Currency),Public
0,01/01/2016,Sanofi_UK_Zenith,GBP,NaN,2,0,"0,00470987228573","0,00330701846347",Yes
1,02/01/2016,Sanofi_UK_Zenith,GBP,NaN,1,0,"0,000204947222042",0,Yes
2,30/01/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0,Yes
3,30/01/2016,Sanofi_UK_Zenith,GBP,NaN,0,1,0,0,Yes
4,01/02/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0,Yes
5,24/02/2016,Artsana_UK_Zenith,GBP,NaN,0,2,0,0,Yes
6,24/02/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,2,0,0,Yes
7,27/04/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,410509,286,"86,676,018,250,928,100","57,070,898,088,600,800",Yes
8,28/04/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,469287,377,"10,273,701,954,952,700","67,008,779,133,039,000",Yes
9,29/04/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,322001,290,"68,947,254,338,890,600","45,616,836,838,677,100",Yes
10,30/04/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,9873,19,"31,531,790,324,285,400","21,819,198,690,066,900",Yes
11,01/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,10184,12,"30,777,811,561,742,700","21,283,452,378,422,000",Yes
12,02/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,48201,39,"10,268,009,899,272,500","68,359,887,466,518,300",Yes
13,03/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,9545,13,"30,361,254,804,680,700","2,100,923,319,380,850",Yes
14,04/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,48872,40,"11,576,833,017,103,600","7,672,135,172,077,210",Yes
15,05/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,35357,25,"89,755,799,786,691,800","60,282,682,528,709,500",Yes
16,06/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,10164,19,"31,310,442,273,722,400","21,654,518,770,969,100",Yes
17,08/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,0,2,0,0,Yes
18,11/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,10913,12,"23,973,483,088,534,800","15,836,810,506,457,400",Yes
19,13/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,5151,4,"11,487,827,546,012,900","7,608,260,594,691,610",Yes
20,14/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,2453,2,"5,637,551,033,652,230","3,749,550,793,697,320",Yes
21,15/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,29279,27,"62,098,376,092,642,800","4,071,615,617,775,360",Yes
22,16/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,367180,318,"78,576,001,932,498,600","51,182,897,956,564,400",Yes
23,17/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,816321,699,"19,049,347,184,274,900","12,534,291,713,181,500",Yes
24,18/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,298581,240,"70,387,901,209,701,300","46,819,000,892,373,300",Yes
25,19/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,875753,729,"20,400,850,198,118,300","13,509,607,005,804,400",Yes
26,20/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,824246,644,"19,225,487,719,656,200","12,689,397,633,170,400",Yes
27,21/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,546880,534,"12,304,109,018,340,200","81,436,216,960,208,700",Yes
28,22/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,860834,855,"20,133,980,697,377,700","13,300,225,586,441,900",Yes
29,23/05/2016,Mercedes-Benz_UK_Zenith,GBP,NaN,911437,775,"21,097,405,590,943,200","13,932,437,152,251,800",Yes
...,...,...,...,...,...,...,...,...,...
3015,27/06/2017,Omega Pharma_UK_Zenith,GBP,NaN,32,0,"0,058471998667875","0,0353298541266",Yes
3016,27/06/2017,Oracle_UK_Zenith International,GBP,NaN,0,0,0,0,Yes
3017,28/06/2017,John Frieda_UK_Zenith,GBP,NaN,89808,82,"32,189,825,395,464,700","20,946,781,616,800,800",Yes
3018,28/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_Mercedes Verticals_Floor: £14...,5085,96,"87,139,182,468,393,200","63,021,243,848,801,400",Yes
3019,28/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_ROS_Floor: £10_ImproveDigital...,79987,1402,"10,261,314,408,530,400","92,652,494,765,056,600",Yes
3020,28/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_ROS_Floor: £10_ImproveDigital...,29477,561,"39,740,195,022,822,600","29,018,249,081,343,500",Yes
3021,28/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_ROS_Floor: £10_ImproveDigital...,86263,1631,"10,505,890,554,232,400","94,874,755,349,968,300",Yes
3022,28/06/2017,Mercedes-Benz_UK_Zenith,GBP,NaN,1313678,1611,"54,088,738,435,725,100","33,876,119,271,372,700",Yes
3023,28/06/2017,Omega Pharma_UK_Zenith,GBP,Sharethrough - Channel - Health & Fitness - Gl...,41054,130,"76,774,241,049,504,500","46,607,528,572,861,100",Yes
3024,28/06/2017,Omega Pharma_UK_Zenith,GBP,Sharethrough - Channel - Home & Garden - Globa...,45915,147,"86,495,765,702,759,300","5,256,794,846,067,050",Yes
3025,28/06/2017,Oracle_UK_Zenith International,GBP,NaN,0,0,0,0,Yes
3026,29/06/2017,John Frieda_UK_Zenith,GBP,NaN,168025,1270,"10,911,378,230,323,100","91,092,670,536,323,600",Yes
3027,29/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_Mercedes Verticals_Floor: £14...,6314,124,"10,930,809,616,695,200","77,155,491,128,314,200",Yes
3028,29/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_ROS_Floor: £10_ImproveDigital...,101233,1663,"12,825,062,558,147,800","11,581,095,070,197,200",Yes
3029,29/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_ROS_Floor: £10_ImproveDigital...,35023,597,"47,268,710,795,685,400","34,176,592,436,426,200",Yes
3030,29/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_ROS_Floor: £10_ImproveDigital...,149811,2467,"18,111,587,723,410,600","16,356,132,798,612,900",Yes
3031,29/06/2017,Mercedes-Benz_UK_Zenith,GBP,NaN,1305883,1662,"52,769,177,488,103,300","32,998,797,476,557,200",Yes
3032,29/06/2017,Omega Pharma_UK_Zenith,GBP,Sharethrough - Channel - Health & Fitness - Gl...,19005,68,"42,017,536,784,963,700","26,138,240,777,306,700",Yes
3033,29/06/2017,Omega Pharma_UK_Zenith,GBP,Sharethrough - Channel - Home & Garden - Globa...,50977,180,"10,360,817,470,920,600","63,744,064,574,768,600",Yes
3034,29/06/2017,Oracle_UK_Zenith International,GBP,NaN,0,0,0,0,Yes
3035,30/06/2017,John Frieda_UK_Zenith,GBP,NaN,194277,1461,"1,328,962,655,528,480","11,275,149,747,883,800",Yes
3036,30/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_Mercedes Verticals_Floor: £14...,7795,152,"13,270,280,014,050,700","93,829,544,835,417,900",Yes
3037,30/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_ROS_Floor: £10_ImproveDigital...,88831,1431,"11,341,713,457,599,800","10,242,681,985,823,000",Yes
3038,30/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_ROS_Floor: £10_ImproveDigital...,36048,614,"48,328,134,478,531,300","34,967,720,432,372,600",Yes
3039,30/06/2017,Mercedes-Benz_UK_Zenith,GBP,PMP_SublimeSkinz_ROS_Floor: £10_ImproveDigital...,179851,3141,"20,068,402,947,749,800","18,107,532,510,523,000",Yes
3040,30/06/2017,Mercedes-Benz_UK_Zenith,GBP,NaN,1175973,1433,"47,652,582,016,141,100","29,699,704,465,692,900",Yes
3041,30/06/2017,New Look_UK_Performics,GBP,PMP_Just Premium_MultiURL_ROS_Fixed_OpenX/Impr...,35619,733,"91,112,924,560,603,900","637,597,112,631,732",Yes
3042,30/06/2017,New Look_UK_Performics,GBP,PMP_Mozoo_MultiURL_ROS_Fixed_SmartRTB_DBM_New ...,31312,2343,"62,809,796,193,021,800","43,949,846,350,945,500",Yes
3043,30/06/2017,Omega Pharma_UK_Zenith,GBP,Sharethrough - Channel - Health & Fitness - Gl...,36444,126,"63,701,222,821,423,000","38,349,940,789,906,300",Yes
3044,30/06/2017,Omega Pharma_UK_Zenith,GBP,Sharethrough - Channel - Home & Garden - Globa...,57296,229,"10,430,797,144,288,000","63,203,223,013,606,800",Yes

In [32]:
TTTD.head()

,Date,Advertiser,Advertiser Currency Code,Inventory Contract,Impressions,Clicks,Advertiser Cost (Adv Currency),Media Cost (Adv Currency),Public
0,01/01/2016,Sanofi_UK_Zenith,GBP,NaN,2,0,"0,00470987228573","0,00330701846347",Yes
1,02/01/2016,Sanofi_UK_Zenith,GBP,NaN,1,0,"0,000204947222042",0,Yes
2,30/01/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0,Yes
3,30/01/2016,Sanofi_UK_Zenith,GBP,NaN,0,1,0,0,Yes
4,01/02/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0,Yes

In [33]:
TTTD.loc[TTTD["Inventory Contract"].isnull() == True,["Inventory Contract"]]

     Inventory Contract
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
...                 ...
2906                NaN
2919                NaN
2922                NaN
2925                NaN
2926                NaN
2938                NaN
2939                NaN
2942                NaN
2945                NaN
2957                NaN
2961                NaN
2975                NaN
2979                NaN
2991                NaN
2995                NaN
2998                NaN
3003                NaN
3006                NaN
3007                NaN
3012                NaN
3015                NaN
3016                NaN
3017                NaN
3022                NaN
3025                NaN
3026                NaN
3031                NaN
3034                NaN
3035                NaN
3040                NaN

[1146 rows x 1 columns]

In [34]:
TTTD.iloc[TTTD["Inventory Contract"] == np.NaN, ]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [ ]:
TTTD["DSP"] = "TTD"

In [ ]:
DBM.head()

---

In [ ]:
#RocketFuel data below

In [ ]:
RF = pd.DataFrame()
for file in glob.glob("RF*.csv"):
    df = pd.read_csv(file, header=1)
    RF = RF.append(df, ignore_index=True)
RF.Spend = RF.Spend.str.replace("GBP ", "")
RF["Media Cost"] = RF["Media Cost"].str.replace("GBP ", "")

In [ ]:
RF["Public"] = "Yes"
RF.loc[RF["Exchange Deal ID"].isnull() == False, "Public"] = "No"
RF["Month"] = RF["Year and Month"].str.split("-").str[0] + "/" + RF["Year and Month"].str.split("-").str[1]
RF["DSP"] = "RocketFuel"
RF["Type"] = "General"
RF["Currency"] = "GBP"

In [ ]:
RF = RF.loc[:, ["Month", "Advertiser", "Public", "Imps", "Clicks", "Spend", "Media Cost", "Currency", "DSP", "Type"]]

In [ ]:
RF.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend', 'Media', 'Currency', 'DSP', 'Type']

In [ ]:
RF.Spend = RF.Spend.astype("float64")
RF.Media = RF.Media.astype("float64")

---

In [ ]:
#Amazon data below

In [ ]:
AAP_old = pd.read_csv("Amazon_0116_0317.csv")

In [ ]:
AAP_old = AAP_old.head(147)

In [ ]:
AAP_old.date = AAP_old.date.str.split(" ").str[0]
AAP_old.date = AAP_old.date.str.split("/").str[2] + "/" + AAP_old.date.str.split("/").str[1]

In [ ]:
AAP_old.columns = ['Month', 'Advertiser', 'advertiser_id', 'Impressions', 'Clicks',
       'Media', 'net cost', 'agency markup', 'Spend']

In [ ]:
AAP = pd.DataFrame()
for file in glob.glob("AAP*.csv"):
    df = pd.read_csv(file, usecols=["Date", "Advertiser", "Impressions", "Clickthroughs", 
                                    "Total Cost", "Supply Cost", "Order Currency"])
    AAP = AAP.append(df, ignore_index=True)

In [ ]:
AAP = AAP.drop(AAP.index[AAP["Total Cost"] == 0]).reset_index(drop=True)

In [ ]:
list2=[]
for month in AAP.Date:
    g = month[-4:] + "/" + "{0:0=2d}".format(time.strptime(month[:3], "%b").tm_mon)
    list2.append(g)

In [ ]:
AAP.Date = list2
AAP["Public"] = "N/A"
AAP["DSP"] = "AAP"
AAP["Type"] = "General"

In [ ]:
AAP.columns = ['Month', 'Advertiser', 'Currency', 'Media', 'Spend','Impressions', 'Clicks', 'Public', 'DSP', 'Type']

In [ ]:
AAP = AAP.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend', 'Media', 'Currency', 'DSP', 'Type']]

In [ ]:
AAP.Spend = AAP.Spend.convert_objects(convert_numeric=True)

---

In [ ]:
#Turn data below

In [ ]:
TURN_old = pd.read_csv("oldTURN_0317_0417.csv")

In [ ]:
TURN_old.Month = TURN_old.Month.str.split("/").str[2] + "/" + TURN_old.Month.str.split("/").str[0]

In [ ]:
TURN_old["Public"] = "Yes"
TURN_old.loc[~TURN_old.Deal_ID.isin([-1]), "Public"] = "No"
TURN_old["DSP"] = "TURN"
TURN_old["Type"] = "General"
TURN_old["Media"] = TURN_old.Spend * 0.7

In [ ]:
TURN_old = TURN_old.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions','Clicks','Spend','Media','Currency', 'DSP', 'Type']]

In [ ]:
TURN = pd.DataFrame()
for file in glob.glob("TURN*.csv"):
    df = pd.read_csv(file, encoding="ISO-8859-1")
    TURN = TURN.append(df, ignore_index=True)

In [ ]:
TURN.columns = ['Month', 'Advertiser', 'deal_id', 'deal_name', 'Impressions', 'Clicks', 'Currency', 'Spend']

In [ ]:
TURN.Spend = TURN.Spend.str.replace("£", "")
TURN.Spend = TURN.Spend.str.replace(",", "")
TURN.Spend = pd.to_numeric(TURN.Spend)

In [ ]:
TURN.Month = TURN.Month.str.split("_").str[0] + "/" + TURN.Month.str.split("_").str[1]

In [ ]:
TURN["Public"] = "Yes"
TURN.loc[~(TURN.deal_id == "Unknown"), "Public"] = "No"
TURN["DSP"] = "TURN"
TURN["Type"] = "General"
TURN["Media"] = TURN.Spend * 0.7

In [ ]:
TURN = TURN.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks','Spend','Media','Currency','DSP', 'Type']]
TURN = TURN.append(TURN_old, ignore_index=True)

---

In [ ]:
#Data from all DSPs

In [ ]:
data = DBM.append([TTD, YT, videology, RF, AAP, TURN], ignore_index=True)

In [ ]:
np.unique(data.Currency)
USDtoGBP = 0.77
EURtoGBP = 0.84

In [ ]:
data["cSpend"] = data.Spend 
data.loc[data.Currency == "USD","cSpend"] = data.Spend * USDtoGBP
data.loc[data.Currency == "EUR","cSpend"] = data.Spend * EURtoGBP

---

In [ ]:
#file to ZO folder on desktop

In [ ]:
data.sort_values("Month", ascending=True).to_csv("C:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend.csv", index=False)

In [ ]:
data.pivot_table(values="cSpend", index="Month", columns=["DSP", "Type", "Public"], 
                 aggfunc=np.sum, margins=True).round().to_csv("C:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend pivot.csv")

In [ ]:
data.pivot_table(values="cSpend", index="Month", columns=["DSP", "Type", "Public"], aggfunc=np.sum, margins=True).round()